# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Gremlinq Docs
repo_url: https://github.com/ExRam/ExRam.Gremlinq
repo_name: ExRam.Gremlinq

theme:
  name: material
  logo: assets/Logo.png
  favicon: assets/Logo.png
  icon:
    repo: fontawesome/brands/github
  
  features:
  - navigation.tabs
  - navigation.expand
  - navigation.sections
  - navigation.indexes
  - content.code.copy
  
  palette:
  # Palette toggle for dark mode
    - scheme: slate
      primary: green
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
        
  # Palette toggle for light mode
    - scheme: default
      primary: green
      accent: deep orange
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
        
  font: false

nav:
  - Introduction: index.md
  - Getting started:
    -  Setup/index.md
    -  Setup/index.md
  - Writing queries:
    - Queries/index.md
  - Customization:
    - Customization/index.md
  - Extensions:
    - Extensions/index.md
  - Support:
    - Support/index.md

markdown_extensions:
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg